- var watchedCount = 0, unwatchedCount = 0, totalCount = 0;
for movie, index in movies
	- totalCount++;
	if movie.watched
		- watchedCount++;
	else
		- unwatchedCount++;
	span(class="movie" title=(movie['watched'] ? "watched" : undefined))
		input(type="checkbox" name="#{index}" id="#{index}" checked=(movie['watched'] ? "checked" : undefined))
		label(for="#{index}")= index
p.text-center#count
	em #{watchedCount} watched, #{unwatchedCount} unwatched, #{totalCount} total.
